.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.d-block{
  display: block;
}

.d-none{
  display: none;
}

.affichage{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.container{
  width: 400px;
  margin: auto;
}
.case{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.red{
  background: red;
}
.blue{
  background: blue;
}
.green{
  background: green;
}
.yellow{
  background: yellow;
}
.purple{
  background: purple;
}